root {
    --main: #3A709A;
    --primaryButtonColor: #3A709A;
    --saveButtonColor: #1AC447;
    --cancelButtonColor: #47505A;
    --galleryItemHoverColor: #BDCFDD;
    --galleryItemSelectedColor: #BDCFDD;
    --backgroundColor1: #F7F7F7;
}